*{
    list-style: none;
    margin: 0;
    padding: 0;
    color: darkslategrey;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
}

body{
    width: 100%;
    background-color: aliceblue;
}

.containers{
    width: 95%;
    margin: auto;
    margin-top: 2rem;
}

.controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.controls .button{
    background-color: #fff;
    padding: 5px 0;
    width: 200px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 1rem;
}

.controls .button.active{
    background-color: coral;
    color: #fff;
}

.gallery {
    left: 50%;
    transform: translateX(-50%);
}

.gallery .image{
    min-width: 200px;
    width: 15%;
    background-color: salmon;
    margin: .5rem;
    padding: 3rem 0;
    text-align: center;
    color: #fff;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.445);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}